

// add colors
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.panel {
	margin-bottom: 10px;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.flex {
  display: flex;
}
