
// Colors Library
$button-blue: #319FC7;
$cat-yellow: #F9F8CB;
$dog-blue: #9FCFDE;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.panel {
	margin-bottom: 10px;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.flex {
  display: flex;
}

.absolute {
  position: absolute;
}
